*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	position: fixed;
	inset: 0;
	overflow: hidden;
}
